doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400|PT+Sans', rel='stylesheet', type='text/css')
  body
    block content
