extends layout

block content
  h1.video-title
  #player
  p.curTime 

    script.

      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
      height: '700',
      width: '1149',
      videoId: '#{link}',
      events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
      }
      });
      }
      function onPlayerReady(event) {
      event.target.playVideo();
      }
      var done = false;
      function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
      //setTimeout(stopVideo, 6000);
      done = true;
      }
      }
      function stopVideo() {
      player.stopVideo();
      }
      var x;

      function onPlayerReady(){
      (function loop() {
      setTimeout(function () {
      x = parseInt(player.getCurrentTime().toString());
      x = x + 1;
      console.log(x);
      $('.curTime').text(x.toString());
      loop()
      }, 1000);
      }());

      var z;
      z = player.getVideoData();
      $('.video-title').text(z.title);
      }