html {
background: #517fa4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  font: 16px 'PT Sans', Helvetica, Arial, sans-serif;
  color:#FFFFFF;
  height:100%;
}

a {
  color: #00B7FF;
}

.title {
	font: 40px 'MontSerrat', Helvetica, sans-serif;
    margin-top:20px;
}

#player {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
	font-weight: 400;
}

.video-title{
    margin-top:-20px;
}

#mytimeline {
	/*background: #efefef;*/
	position: absolute;
	text-align: center;
	bottom:0;
	width: 100%;
	
}
#wrapper {
	min-height: 100%;
	position: relative;
}
.vis-item {
	box-shadow: 0 8px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

}