html {
background: #517fa4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
  margin: 0 auto;
  text-align: center;
  font: 14px 'PT Sans', Helvetica, Arial, sans-serif;
  color:#FFFFFF;
}

a {
  color: #00B7FF;
}

.title {
	font: 40px 'MontSerrat', Helvetica, sans-serif;
    margin-top:5px;
}

#player {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
	font-weight: 400;
}

.video-title{
    margin-top:-20px;
}